@model OnlineStore.Models.OrderViewModel
@{
    ViewData["Title"] = "Заказы";
}

<form asp-action="administratorDeleteOrder" asp-controller="administratorOrders" method="post">
<div class="mt-5">
  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <input type="submit" class="btn btn-outline-danger ms-2" value="Удалить" />
      </li>
    </ul>
   </div>
    
</div>
<table class="table table-hover align-middle mt-4 adminProducts">
  <thead class="align-middle adminProducts__header">
    <tr>
      <th class="adminProducts__header-col" scope="col">Id</th>
      <th class="adminProducts__header-col" scope="col">Дата</th>
      <th class="adminProducts__header-col" scope="col">Покупатель</th>
      <th class="adminProducts__header-col" scope="col">Товары</th>
      <th class="adminProducts__header-col" scope="col">Сумма заказа</th>
      <th class="adminProducts__header-col" scope="col">Готовность заказа</th>
      <th class="adminProducts__header-col" scope="col">Оплата</th>
      <th class="adminProducts__header-col" scope="col">Редактировать</th>
      <th class="adminProducts__header-col" scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
        @for (int i = 0; i < Model.orderIsSelects.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(x=>x.orderIsSelects[i].Id)
                    @Model.orderIsSelects[i].Id
                </td>
                <td>                   
                    @Model.orderIsSelects[i].DateOrder
                </td>
                <td>
                    @Model.orderIsSelects[i].User.Name<br />
                    @Model.orderIsSelects[i].User.Surname<br />
                    @Model.orderIsSelects[i].User.Email<br />
                    @Model.orderIsSelects[i].User.Phone
                </td>
                <td>
                    <ol>
                        @for (int j = 0; j < Model.orderIsSelects[i].products.Count; j++)
                        {
                            <li>                                
                                @Model.orderIsSelects[i].products[j].Product?.Name<br />                               
                                @Model.orderIsSelects[i].products[j].Count шт х                                
                                @Model.orderIsSelects[i].products[j].buyPrice р. = 
                                @Model.orderIsSelects[i].products[j].buySum р.
                            </li>
                        }
                    </ol>
                </td>
                <td>
                    @Model.orderIsSelects[i].SumOfOrder
                </td>
                <td>
                    @if (Model.orderIsSelects[i].isReady == true)
                    {
                        <P>Готов к выдаче</P>
                    }
                    else
                    {
                        <p>В обработке</p>
                    }
                </td>
                <td>
                    @if (Model.orderIsSelects[i].isPaid == true)
                    {
                        <p>Оплачен</p>
                    }
                    else
                    {
                        <p>Ожидает оплаты</p>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-secondary" asp-action="AdministratorOpenEditOrder" asp-controller="AdministratorOrders" asp-route-id="@Model.orderIsSelects[i].Id">Изменить</a>
                </td>
                <td>

                    @Html.CheckBoxFor(x=>x.orderIsSelects[i].IsSelect)
                </td>
            </tr>
        }
  </tbody>
</table>
</form>
