
@model OnlineStore.Models.CategoryViewModel
@{
    ViewData["Title"] = "Категории";
}

<form asp-action="administratorDeleteCategories" asp-controller="administratorCategories" method="post">
<div class="mt-5">
  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="btn btn-outline-success" href="/AdministratorCategories/AdministratorAddCategory">Добавить</a>
      </li>
      <li class="nav-item">
        <input type="submit" class="btn btn-outline-danger ms-2" value="Удалить"/>
      </li>
    </ul>
   </div>
    
</div>
<table class="table table-hover align-middle mt-4 adminProducts">
  <thead class="align-middle adminProducts__header">
    <tr>
      <th class="adminProducts__header-col" scope="col">Id</th>
      <th class="adminProducts__header-col" scope="col">Наименование</th>
      <th class="adminProducts__header-col" scope="col">Редактировать</th>
      <th class="adminProducts__header-col" scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
    @for (int i = 0; i < Model.categoryIsSelects.Count; i++)
    {
        <tr>
            <td>
                 @Html.HiddenFor(x=>x.categoryIsSelects[i].Id)
                 @Model.categoryIsSelects[i].Id
            </td>
            <td>
                 @Html.HiddenFor(x=>x.categoryIsSelects[i].Name)
                 @Model.categoryIsSelects[i].Name
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="administratorOpenEditCategory" asp-controller="administratorCategories" asp-route-Name="@Model.categoryIsSelects[i].Name">Изменить</a>
            </td>
            <td>
                @Html.CheckBoxFor(x=>x.categoryIsSelects[i].IsSelected)
            </td>
        </tr>
    }
    
  </tbody>
</table>
 </form>

